<html>
  <head>
    <meta charset='utf-8' />
    <meta http-equiv='x-ua-compatible' />
    <title>Bem-Vindo</title>
    <style>
      h2 { text-align: center; } table { width: 90%; margin: 10px auto; } table
      td { text-align: right; } .result{ background-color: rgb(104, 96, 96);
      color: white; }
    </style>
  </head>
  <body>
    <h2>Aqui seu Relatorio {{name}}</h2>
    <p><strong>Clientes:</strong></p>
    <table border='1'>
      <tr>
        <th>Nome:</th>
        <th>Negociações:</th>
        <th>Saldo Devedor:</th>
      </tr>
      {{#each customers}}
        <tr>
          <td>{{customer}}</td>
          <td>{{customerSalesList.length}}</td>
          <td>R$: {{totalDebits}}</td>
        </tr>
      {{/each}}
      <tr>
        <td class='result'>{{customers.length}} Clientes</td>
        <td class='result'>Total: {{totalSales}}</td>
        <td class='result'>Total R$: {{totalDebits}}</td>
      </tr>
    </table>

  </body>

</html>